{% extends 'layout.html' %}

{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="text-center">
    <h1 class="p-2">Laptops</h1>
    <table class="table table-hover table-secondary table-bordered">
        <tr>
            <th>No</th>
            <th>Company</th>
            <th>Model</th>
            <th>RAM</th>
            <th>ROM</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Processor</th>
            <th>-</th>
            <th>-</th>
        </tr>
        {% for l in laptops %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ l.company }}</td>
            <td>{{ l.model_name }}</td>
            <td>{{ l.ram }}</td>
            <td>{{ l.rom }}</td>
            <td>{{ l.price }}</td>
            <td>{{ l.weight }}</td>
            <td>{{ l.Processor }}</td>
            <td><a class="btn btn-danger" href="{% url 'deletepage' l.id %}">Delete</a></td>
            <td><a class="btn btn-info" href="{% url 'updatepage' l.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}